:root {
    --bg: #e6e6e6;
    --text-primary: #1f2f50;
    --table-border: #6e6e6e;
    --font-base: Calibri, Arial, sans-serif;
    --font-size-base: 16px
}

body {
    background-color: var(--bg);
    color: var(--text-primary);
    font-family: var(--font-base);
    width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    font-size: 48px;
    margin: 10px;
    text-align: center;
}

h2 {
    position: relative;
    color: white;
    background-color: #681414;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 5px;
    border-radius: 10px;
}
h2::before {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 15px solid #000000;
}

li {
    margin: 3px;
}

dd {
    font-size: 14px;
    margin: 10px;
}

dt {
    font-weight: bold;
}

caption {
    background-color: black;
    color: white;
    margin-bottom: 10px;
    padding: 5px;
}

.red-text {
    color: red;
}

.text-right, .red-text {
    text-align: right;
}

table {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 10px;
}

table, th, td {
    border: 1px solid var(--table-border);
    border-collapse: collapse;
    padding: 10px;
}

tfoot, th {
    background-color: #e0e9fa;
    font-weight: bold;
}
